<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeContent %></p>

  <% posts.forEach((doc)=> { %>
    <div>
      <div class="heading">
        <form action="/delete" method="post">
          <input type="checkbox" name="checkbox" value="<%= doc.title %>" onchange="this.form.submit()">
        </form>
        <h2><%= doc.title %></h2>
      </div>
      <p><%= doc.body.substring(0, 100)+"..." %> <a href="/posts/<%= doc.title %>">Read Post</a> </p>
    </div>
  <% }); %>

<%- include("partials/footer"); -%>
